body{
    margin:0px;
}


div {
    display:flex;
    background-color: black;
    justify-content: space-between;
    
}

a:hover{
    color:white;

}

li{
    list-style: none;
    display:flex;
    padding: 10px;
    padding-left:0px;

}