body{
    margin: 0px;
}

h1,p{
    opacity: 50%;
}


.modal-dialog{
    width: 500px;
    max-width: 100%;
    background: rgb(192, 255, 195);
    border: 5px black solid;
    position: fixed;
    top: 40%;
    left: 30%;
    text-align: center;
    opacity: 1;
}

.modal-header{
    background-color: gray;
    border-bottom: 5px black solid;
}

.modal-title{
    font-weight: bold;
    font-size: 20px;
}
